@import "common.scss";

main {
  padding: 70px 0 100px;
}

.title {
  max-width: 800px;
  padding: 0 5%;
  margin: 15vmin auto 20vmin;
  font-size: calc(40px + 1vw);
}
.title h1 {
  border-bottom: 4px solid #eee;
  padding-bottom: 10px;
}

.works-title {
  font-size: 140%;
  margin-bottom: 20px;
  color: #bbb;
  font-weight: 300;
}

section {
  padding-bottom: 50px;
}

.work {
  margin-bottom: 60px;
}

.work-title {
  margin-bottom: 20px;
}

.work-video {
  width: 100%;
  height: 32vmax;
  border-radius: 10px;
}
